/* 网页上部 */
.header{
    height: 8em;
    background-color: white;
    display: flex;
    color:rgb(133, 133, 0);
    /* margin-left: 3%;
    margin-right: 3%; */
    /* opacity: 0.8; */
    /*毛玻璃效果
     filter: blur(3px); */
}
.header1{
    font-size: 2.0em;
    margin-left: 6%;
    color: rgb(10, 124, 174);
    margin-top: 2%;
}
.header2{
    font-size: 2em;
    margin-left: 1%;
    color: rgb(10, 124, 174);
    margin-top: 2%;
}
.header31{
    font-size: 1em;
    color: rgb(10, 124, 174);
    margin-top: 1.2%;
}
.header4{
    font-size: 1.7em;
    font-weight: 2em;
    margin-left: 1%;
    color: rgb(10, 124, 174);
    margin-top: 2.1%;
    
}
.header3{
    margin-left: 12%;
    color: rgb(10, 124, 174);
    margin-top: 1.6em;
}
.logo{
    margin-left: 7%;
    margin-top: 3px;
}
.searchall{
    margin-left: 11%;
    height: 3.5em;
}
.search{
    height: 100%;;
    width: 130%;
    margin-top: 6%;
}
.button{
    margin-top:1.3%;
    margin-left: 5%;

}
.hhhh{
    font-size: 1.7em;
    margin-top: 4px;
    margin-bottom: 4px;
    color: rgb(10, 124, 174);
    margin-left: 10px;
    margin-right: 10px;
}